*{
    color:rgb(21, 21, 21);
    box-sizing: border-box;
}
p{
    color: blue;
   
}
div{
    width: 220px;
    height: 200px;
    border-radius: 25px;
    border: 10px solid black;
    padding: 10px 5px;
    box-sizing: border-box; 
    
    
}
div p{
    color:brown;
    font-size: 50px;
    
}